* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Applies background color to the whole content*/
body {
    background-color: #d9dcd6;
}
/*Applies font style for the heading*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Applies font size and style for heading 1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Gives font color for 'seo' in Horiseon*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Gives style for the contents button*/
.header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*List type*/
.header nav ul {
    list-style-type: none;
}
/*Describes the display of the contents(hyperlinks)*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Applies color to the hyperlinks*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Gives font size for each paragraphs*/
p {
    font-size: 16px;
}
/*describes the style for the background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Style and placement of the contents*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Give style for the contents*/
.part {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Size of the images in content*/
.part img {
    max-height: 200px;
}
/*Box model and font size for the headings in content*/
.part h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Placement of the image for 'search engine optimisation and social media marketing*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Image placement for the content of online-reputation-management*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Style and placement of the sub-contents*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0071ad;
}
/*font color and boxing of subcontent lead-generation*/
.side {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Placement of the heading lead-generation*/
.side h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Placement of the image for lead-generation*/
.side img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Style of the Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Font size of the footer*/
.footer h2 {
    font-size: 20px;
}
