* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Applies background color to the whole content*/
body {
    background-color: #d9dcd6;
}
/*Applies font style for the heading*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Applies font size and style for heading 1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Gives font color for 'seo' in Horiseon*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Gives style for the contents button*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*List type*/
.header div ul {
    list-style-type: none;
}
/*Describes the display of the contents(hyperlinks)*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Applies color to the hyperlinks*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Gives font color for each paragraphs*/
p {
    font-size: 16px;
}
/*describes the style for the background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Style and placement of the contents*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Give style for the content 'Search engine optimisation'*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Size of the image for Search engine optimisation*/
.search-engine-optimization img {
    max-height: 200px;
}
/*Box model and font size for the heading 'Search engine optimisation'*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Placement of the image for 'search engine optimisation*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Box model and style for the content online-reputation-management*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Size of the image for online-reputation-management*/
.online-reputation-management img {
    max-height: 200px;
}
/*Size and font of  the heading online-reputation-management*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Image placement for the content of online-reputation-management*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Box model and style for the content social-media-marketing*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Size of the image for social-media-marketing*/
.social-media-marketing img {
    max-height: 200px;
}
/*Font size and box model for the heading social-media-marketing*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Style and placement of the sub-contents*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0071ad;
}
/*font color and boxing of subcontent lead-generation*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Placement of the heading lead-generation*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Placement of the image for lead-generation*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*font color and boxing of subcontent brand-awareness*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Placement of the heading brand-awareness*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Placement of the image for brand-awareness*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*font color and boxing of subcontent cost-management*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Placement of the heading cost-management*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*Placement of the image for cost-management*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Style of the Footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Font size of the footer*/
.footer h2 {
    font-size: 20px;
}
